.main_wrapper, body
{
    background-color: white;
    width: fit-content;
}

header
{
    display: flex;
    flex-direction: column;
    height: fit-content;
    text-align: left;

}

#header_text
{    
    padding-top: 20px;
    padding-bottom: 0px;
}

#nom
{
    font-size: 6em; 
}

#poste
{
    font-size: 3.5em; 
    width: 460px;
}

#presentation
{
    font-size:2em;
}

#photo_du_sujet
{
    margin-top: 0px;
    width: 700px;
}

.centre
{
    display: flex;
    flex-direction: column;
    height: fit-content;
}

#contenu_text_centre
{
    align-self: flex-start;
    padding-top: 50px;
    padding-bottom: 25px;
}

#contenu_text_centre h2
{
    font-size: 3em;
    text-align: center;
}

.text_centre
{
    font-size: 1.5em;
}

#image_centre
{
    order: 2;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    width: 450px;
    height: 400px;
}

.retrouvez-moi
{
    height: fit-content;
}

.logo_retrouvez_moi
{
    padding-bottom: 75px;
}

.text_retrouvez_moi h2
{
    font-size: 3em;
}

.text_retrouvez_moi p
{
    font-size: 2em;

}

.res_sociaux
{
    text-align: center;
    height: 150px;
    width: 150px;
}

