# Ignore ALL .log files
*.log

# Ignore ALL files in ANY directory named temp
**/temp/

# Exclude images in the assets/images folder under dist
/dist/assets/images/*

# But keep the .gitkeep to retain the directory structure
!/dist/assets/images/.gitkeep

# Ignore .idea folder (JetBrains IDE settings)
.idea/
